#contact-us {
    background-color: #fff;
    padding: 60px 0;
    text-align: center;
}

.section-heading {
    margin-bottom: 40px;
}

.section-heading h2 {
    font-size: 36px;
    color: #333;
}

.section-heading p {
    font-size: 18px;
    color: #666;
}

/* Style the contact information */
.contact-info {
    text-align: center;
    margin-bottom: 30px;
}

.contact-info h4 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px;
}

.contact-info ul {
    list-style: none;
    padding: 0;
}

.contact-info li {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}